Django==3.0.3
Sphinx==1.8.1
django-cors-headers==3.2.1
django-extensions==2.2.8
djangorestframework==3.11.0

django-filter==2.1.0
django-filters==0.2.1
chibi_django==0.2.1
chibi==0.7.7
django-mysql==2.4.1
djangorestframework-xml==1.4.0
djangorestframework-yaml==1.0.3
drf-nested-routers==0.91
dj-database-url==0.5.0
CMRESHandler==1.0.0
elasticsearch_dsl==7.0.0
djangorestframework-jwt==1.11.0

celery==4.2.1

mysqlclient==1.4.4

gevent==1.4
gunicorn==19.9
setproctitle==1.1.10

factory-boy==2.11.1
flake8==3.5.0
pycodestyle==2.3
coverage==4.5.2

sphinx-intl==0.9.10
sphinx-rtd-theme==0.2.4
sphinxcontrib-httpdomain==1.6.0
sphinxcontrib-plantuml==0.10
# sphinxcontrib-spelling==4.0.1


vcrpy-unittest==0.1.7

ipython


certifi


django_rest_marshmallow==4.0.1
cryptography==2.8
